<!-- Mobile Side Bar-->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view" style="height:160px">
            <div class="background">
                <img src="./assets/image/mobile_cover.jpg"
                    style="position:bottom;height:160px;object-fit:cover;width:100%">
            </div>
        </div>
    </li>
    <li>
        <a href="#!" class="text-darken-4 waves-effect waves-teal ">
            <h4 style="font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;">Garrick</h4>
        </a>


    </li>
    <li>
        <a href="#!" [routerLink]="['/']" routerLinkActive="router-link-active"
            class="text-darken-4 waves-effect waves-teal ">
            <i class="fas fa-home"></i> Home
        </a>
    </li>
    <li>
        <a href="https://github.com/garrickbee" target="_blank"
            class="text-darken-4 waves-effect waves-teal transparent">
            <i class="fab fa-github"></i> Github
        </a>
    </li>
    <li>
        <a href="#!" class=" text-darken-4 waves-effect waves-teal transparent">
            <i class="fas fa-puzzle-piece"></i>
            Project
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/garrick_bee/" target="_blank"
            class=" text-darken-4 waves-effect waves-teal transparent">
            <i class="fab fa-instagram"></i>
            Instagram
        </a>
    </li>
    <li>
        <a href="https://twitter.com/Garrick_Bee" target="_blank"
            class=" text-darken-4 waves-effect waves-teal transparent">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
    </li>
    <li>
        <a href="#!" class=" text-darken-4 waves-effect waves-teal transparent">
            <i class="fab fa-angellist"></i>
            About
        </a>
    </li>
</ul>