<div *ngFor="let article of articles" class="card horizontal">
    <img [routerLink]="['/article', article.slug]" routerLinkActive="router-link-active"
        class="card-image responsive-img hide-on-small-only"
        src="{{article.image.api}}{{article.image.path}}{{article.image.file}}" alt="{{article.image.file}}"
        appImageError>
    <div class="card-stacked">
        <div class="card-content">
            <a [routerLink]="['/article', article.slug]" routerLinkActive="router-link-active">
                <h3 style="margin:1rem 0rem"><b>{{article.title}}</b></h3>
            </a>
            <p>{{article.description}}</p>
        </div>
        <div class="card-action">
            <a href="#">{{article.createdAt | date}}</a>
            <a href="#"><i class="fas fa-eye"></i> 0</a>
            <a href="#"><i class="fas fa-comments"></i> 0</a>
            <a href="#"><i class="fas fa-thumbs-up"></i> 0</a>
        </div>
    </div>
</div>