<div *ngFor="let article of articles" class="card horizontal" style="padding:0.40rem;">
    <img class="card-image responsive-img hide-on-small-only" src="./assets/image/satelite.jpg"
        style="width:35%;object-fit:cover">
    <div class="card-stacked">
        <div class="card-content" style="padding:0px 0.6rem 0.3rem 0.6rem ">
            <h6 class="grey-text text-darken-2">
                <a [routerLink]="['/blog', article.slug]" routerLinkActive="router-link-active">
                    <b>{{article.title}}</b>
                </a>
            </h6>
            <p>{{article.description}}</p>
        </div>
        <div class="card-action right-align" style='padding:0.2rem 0.4rem;display:flex;justify-content: space-around;'>
            <a href="#" style="font-size:12px;margin:0 auto">
                <i class="fas fa-clock"></i></a>
            <a href="#" style="font-size:12px;margin:0 auto"><i class="fas fa-eye"></i> View</a>
            <a href="#" style="font-size:12px;margin:0 auto"><i class="fas fa-comments"></i> comment</a>
            <a href="#" style="font-size:12px;margin:0 auto"><i class="fas fa-thumbs-up"></i> like</a>
            <a href="#" style="font-size:12px;margin:0 auto"><i class="fas fa-box-open"></i> date</a>
        </div>
    </div>
</div>