<div class="collection" style="border: 0px !important;">
    <a href="#!" routerLink="/blog" class="collection-item " style="border-bottom: 0px !important;">
        <i class="fas fa-home"></i> Home
    </a>
    <a href="#!" class="collection-item active" style="border-bottom: 0px !important;">
        <i class="fab fa-github"></i> Github
    </a>
    <a href="#!" class="collection-item" style="border-bottom: 0px !important;">
        <i class="fas fa-puzzle-piece"></i>
        Project
    </a>
    <a href="#!" class="collection-item" style="border-bottom: 0px !important;">
        <i class="fab fa-instagram"></i>
        Instagram
    </a>
    <a href="#!" class="collection-item" style="border-bottom: 0px !important;">
        <i class="fab fa-twitter"></i>
        Twitter
    </a>
    <a href="#!" class="collection-item" style="border-bottom: 0px !important;">
        <i class="fab fa-angellist"></i>
        About
    </a>
</div>