<div class="collection" style="border: 0px !important;">
    <a href="#!" [routerLink]="['/']" routerLinkActive="router-link-active"
        class="collection-item blue-text text-darken-4 waves-effect waves-green transparent"
        style="border-bottom: 0px !important;">
        <i class="fas fa-home"></i> Home
    </a>
    <a href="https://github.com/garrickbee" target="_blank"
        class="collection-item blue-text text-darken-4 waves-effect waves-green transparent"
        style="border-bottom: 0px !important;">
        <i class="fab fa-github"></i> Github
    </a>
    <a href="#!" class="collection-item blue-text text-darken-4 waves-effect waves-green transparent"
        style="border-bottom: 0px !important;">
        <i class="fas fa-puzzle-piece"></i>
        Project
    </a>
    <a href="https://www.instagram.com/garrick_bee/" target="_blank"
        class="collection-item blue-text text-darken-4 waves-effect waves-green transparent"
        style="border-bottom: 0px !important;">
        <i class="fab fa-instagram"></i>
        Instagram
    </a>
    <a href="https://twitter.com/Garrick_Bee" target="_blank"
        class="collection-item blue-text text-darken-4 waves-effect waves-green transparent"
        style="border-bottom: 0px !important;">
        <i class="fab fa-twitter"></i>
        Twitter
    </a>
    <a href="#!" class="collection-item blue-text text-darken-4 waves-effect waves-green transparent"
        style="border-bottom: 0px !important;">
        <i class="fab fa-angellist"></i>
        About
    </a>
</div>