<div class="col s12 m7">
    <div class="card">
        <div class="card-image">
            <img src="./assets/image/satelite.jpg">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">Card Title</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt arcu in arcu mollis gravida.
                Vivamus a vestibulum mi. Suspendisse vitae vestibulum est, tempus ultrices odio. Vivamus nec magna
                gravida nisi fringilla commodo. Sed non erat non purus interdum sodales. Aliquam augue est, dictum at
                mauris vel, porttitor luctus urna. Donec volutpat vulputate tempor. Aenean blandit scelerisque elit quis
                rhoncus.
            </p>
            <p>
                Nunc molestie ligula arcu. Nulla et arcu et elit aliquet dignissim non ac mi. Nulla facilisi. Ut viverra
                neque id urna posuere, viverra venenatis lorem sollicitudin. Mauris suscipit tellus eu felis elementum
                luctus. Integer ipsum sapien, scelerisque et massa sit amet, elementum bibendum turpis. In gravida velit
                nec turpis pellentesque, et aliquet lorem porttitor. Morbi feugiat aliquet est, in bibendum nulla
                convallis nec. Fusce laoreet tellus libero, vitae pretium lorem ultrices vitae.
            </p>
            <p>
                Nunc commodo ultricies fermentum. Cras id feugiat justo. Praesent sed pretium massa. Integer iaculis
                odio quis metus molestie, non fermentum neque molestie. Praesent sit amet diam finibus, suscipit nunc
                blandit, hendrerit lectus. Proin in velit ut sapien mollis vestibulum quis a turpis. Etiam arcu ligula,
                volutpat in nisi et, tristique aliquam neque. Maecenas eget pellentesque urna, et pellentesque nunc.
                Nullam urna dui, convallis non imperdiet eget, laoreet et purus. In interdum turpis eu enim pharetra
                convallis. Etiam venenatis lectus nec rhoncus viverra. Sed eleifend turpis a semper tincidunt. Donec
                sodales non nisl eget volutpat.
            </p>
            <p>
                Vivamus scelerisque magna vel tellus interdum pulvinar. Duis tempor faucibus ipsum. Donec augue nunc,
                faucibus a viverra eu, facilisis sit amet turpis. Nulla facilisi. Etiam volutpat fringilla sapien id
                iaculis. Donec id risus eu dolor sagittis interdum. Etiam faucibus vestibulum hendrerit. Donec sit amet
                condimentum erat. Duis aliquam mattis ex in mollis. Nulla facilisi. Cras auctor at risus ut semper.
                Mauris elementum eget felis eget eleifend. Praesent enim tortor, varius non nunc commodo, tempor
                consectetur lectus.
            </p>
            <p>
                In risus quam, ultrices sodales maximus non, volutpat faucibus diam. Ut sit amet vehicula augue. Donec
                tristique ex vestibulum commodo finibus. Cras ut purus sit amet mi tincidunt tristique. Nam sollicitudin
                condimentum tincidunt. Aenean aliquam congue mi, euismod dictum orci posuere non. Curabitur vel pulvinar
                arcu, ut elementum nunc. Donec faucibus dui bibendum diam posuere pulvinar. Etiam nulla ex, aliquet eu
                neque ut, suscipit imperdiet libero. Suspendisse potenti. Integer ullamcorper ultrices tortor id
                euismod. Etiam egestas orci non pellentesque hendrerit. Mauris nisl libero, euismod ac blandit vel,
                maximus ac eros. Mauris vitae tortor a augue tincidunt accumsan id at dui.
            </p>

        </div>
    </div>
</div>