<!-- Slider main container -->
<div class="swiper-container  fade" style="margin-bottom:1rem;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let sliderImage of sliderImages">
            <img class="card-image responsive-img swiper-lazy" data-src="{{sliderImage | imageFormat}}" appImageError>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <!-- <div class="swiper-slide" *ngFor="let sliderImage of sliderImages">
            <img class="card-image responsive-img swiper-lazy" data-src="{{sliderImage | imageFormat}}">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div> -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<div class="card-panel deep-purple lighten-5" style="padding:5px"></div>

<app-blog-horizontal [articles]="articles"></app-blog-horizontal>