<!-- Slider main container -->
<div class="swiper-container" style="margin-top:1rem;margin-bottom:1rem;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img class="card-image responsive-img" src="./assets/image/satelite.jpg"
                style="width:100%;max-height:300px;object-fit:cover">
        </div>
        <div class="swiper-slide">
            <img class="card-image responsive-img" src="./assets/image/satelite.jpg"
                style="width:100%;max-height:300px;object-fit:cover">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- If we need pagination -->
    <div class="swiper-scrollbar"></div>
</div>
<div class="card-panel deep-purple lighten-5" style="padding:5px"></div>

<app-blog-horizontal></app-blog-horizontal>