<ul class="collection with-header">
    <li href="#!" class="collection-item" style="padding:0.6rem"><b>Latest</b></li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><a href=""><span class="new badge">1</span>Alan</a>
    </li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
</ul>
<ul class="collection with-header">
    <li href="#!" class="collection-item" style="padding:0.6rem"><b>Popular</b></li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
    <li href="#!" class="collection-item" style="padding:0.6rem"><span class="new badge">1</span>Alan</li>
</ul>

<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons">
            whatshot
        </i>
        <span class="title">Title</span>
        <p>First Line <br>
            Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
            Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
            Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
            Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>

<div class="card ">
    <div class="card-panel" style="padding:0.6rem">
        <a class="waves-effect waves-light btn-small z-depth-0" style="margin:2px">But</a>
        <a class="waves-effect waves-light btn-small z-depth-0" style="margin:2px">Butt</a>
        <a class="waves-effect waves-light btn-small z-depth-0" style="margin:2px">Bu</a>
        <a class="waves-effect waves-light btn-small z-depth-0" style="margin:2px">Button</a>
    </div>
</div>